<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @notification_permission.channel_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification_permission.user_id %>
</p>

<p>
  <strong>Local:</strong>
  <%= @notification_permission.local %>
</p>

<p>
  <strong>Email:</strong>
  <%= @notification_permission.email %>
</p>

<%= link_to 'Edit', edit_notification_permission_path(@notification_permission) %> |
<%= link_to 'Back', notification_permissions_path %>
