<%= form_with(model: notification_request, local: true) do |form| %>
  <% if notification_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification_request.errors.count, "error") %> prohibited this notification_request from being saved:</h2>

      <ul>
        <% notification_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :channel_id %>
    <%= form.text_field :channel_id %>
  </div>

  <div class="field">
    <%= form.label :params %>
    <%= form.text_area :params %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
