<p id="notice"><%= notice %></p>

<h1>Notification Requests</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Params</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notification_requests.each do |notification_request| %>
      <tr>
        <td><%= notification_request.channel_id %></td>
        <td><%= notification_request.params %></td>
        <td><%= link_to 'Show', notification_request %></td>
        <td><%= link_to 'Edit', edit_notification_request_path(notification_request) %></td>
        <td><%= link_to 'Destroy', notification_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification Request', new_notification_request_path %>
