<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @notification_request.channel_id %>
</p>

<p>
  <strong>Params:</strong>
  <%= @notification_request.params %>
</p>

<%= link_to 'Edit', edit_notification_request_path(@notification_request) %> |
<%= link_to 'Back', notification_requests_path %>
